<?xml version="1.0"?>
  
<configuration>
 
  <appSettings>
    
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <add key="DBServer-local" value="10.0.0.200"/>
    <add key="DBServer-qa" value="109.226.37.74" />
    <add key="DBServer-live" value="10.1.1.2" />

    <add key="DataBaseName-local" value="AyeletHashachar" />
    <add key="DataBaseName-qa" value="AyeletHashachar" />
    <add key="DataBaseName-live" value="AyeletHashacharLive" />

    <add key="MYDataBaseName-local" value="MyYedidim" />
    <add key="MYDataBaseName-qa" value="MyYedidimQA" />
    <add key="MYDataBaseName-live" value="MyYedidim" />

    <add key="Login" value="sa" />

    <!--<add key="Password-local" value="1212" />-->
    <add key="Password-local" value="Neomit5547" />
    <add key="Password-qa" value="q1w2e3r4A123" />
    <add key="Password-live" value="q1w2e3r4A123" />

    <add key="TryBackToMainServer" value="0" />
    <add key="AlternativeServersNumber" value="0" />
    <add key="ConnectionServerID" value="1" />

    <!--<add key="AlternativeServer1-local" value="server\MSSQLSERVER_R2" />-->
    <add key="AlternativeServer1-local" value="10.0.0.200" />
    <add key="AlternativeServer1-qa" value="109.226.37.74" />
    <add key="AlternativeServer1-live" value="10.1.1.2" />

  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Service.Service1AspNetAjaxBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <!--
    <service name="ShtileyArieAfterSchoolWS.Service">
        <endpoint address="" behaviorConfiguration="ShtileyArieAfterSchoolWS.Service1AspNetAjaxBehavior" binding="webHttpBinding" contract="ShtileyArieAfterSchoolWS.Service" />
      </service>
    -->
    <services>
      <service name="Service.Service">
        <endpoint address="" behaviorConfiguration="Service.Service1AspNetAjaxBehavior" binding="webHttpBinding" contract="Service.Service" />
      </service>
    </services>

    <bindings>
      <basicHttpBinding>

        <binding name="ws" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="10067108864" transferMode="Streamed" messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
    </bindings>
    
    <!--<serviceBehaviors>
      <behavior>
        --><!-- To avoid disclosing metadata information, set the values below to false before deployment --><!--
        <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
        --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
        <serviceDebug includeExceptionDetailInFaults="false"/>
      </behavior>
    </serviceBehaviors>-->

    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->

  </system.serviceModel>
  
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="">
        <network host="bsf.026430010.co.il" port="25"  />
      </smtp>
      <!--<smtp deliveryMethod="Network" from="Shtiley Arie&lt;shtileyarie@gmail.com&gt;">
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="shtileyarie@gmail.com" password="SHAR1234" />
      </smtp>-->
    </mailSettings>
  </system.net>
  
</configuration>
